/*Import variables and mixins*/
@import 'var';

/*Reset margins, paddings, and font-weights*/
* {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

/*Prevent Google autocomplete's yellow overlay*/
@-webkit-keyframes autofill {
    to {
        color: #000;
        background: #fff;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

/*Global input styling*/
input {
    margin: 3px 0;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

/*STYLING BEGINS HERE*/
body {
    display: flex;
    flex-direction: column;
    
    background-image: url(../img/bg.png);
    
    align-items: center;
    @include lato();
    
    #wrapper {
        width: 70%;
        min-height: 100vh;
        background: white;

        #content {
            display: flex;
            flex-direction: row;

            aside {
                flex: 1 1 12.5%;
                padding: 5px 2%;

                #logo {
                    margin: 0 auto;
                    width: 100%;
                }

                h1 {
                    font-size: 1.8em;
                    color: lighten($medium, 10%);
                    margin-bottom: 15px;

                    span:first-child {
                        color: darken($medium, 10%);
                    }

                    span:last-child {
                        font-size: 2em;
                        color: $dark;
                    }
                }

                nav {
                    position: fixed;
                    display: flex;
                    flex-direction: column;
                    @include sans;

                    a {
                        display: block;
                        padding: 2px 0;
                        @include link;
                        
                        &:hover {
                            text-decoration: underline;
                        }
                        
                        &.active {
                            color: $dark;
                            
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                    
                    form {
                        display: flex;
                        flex-direction: column;
                        
                        input {
                            width: 65%;
                        }
                    }
                }
            }

            #right {
                display: flex;
                flex-direction: column;
                flex: 1 1 87.5%;
                background: $light;
                margin-bottom: 20px;

                header {

                    #header-nav {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        @include sans;

                        #social-icons {
                            display: flex;
                            flex-direction: row;
                            margin-left: 10px;

                            a {
                                display: block;
                                margin: 10px;
                                @include link;
                            }
                        }

                        #basket {
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            a {
                                display: flex;
                                align-items: center;
                                margin-right: 20px;
                                @include link;

                                i {
                                    margin-right: 10px;
                                }
                            }
                        }
                    }

                    #banner {
                        width: 100%;

                        img {
                            width: 100%;
                        }
                    }
                }

                main {
                    flex: 1;

                    #preamble {
                        padding: 50px 20px;

                        h2 {
                            @include latoBold;
                            margin-bottom: 70px;
                            text-align: center;
                        }
                    }

                    #product-container {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-around;
                        padding: 10px;

                        .product {
                            display: flex;
                            flex-direction: column;
                            width: 30%;
                            background: white;
                            padding-bottom: 30px;
                            box-shadow: 0 0 10px #aaa;

                            img {
                                max-width: 100%;
                                margin: 10px auto;
                            }

                            h4 {
                                @include latoBold;
                                font-size: 1em;
                                margin: 10px;
                            }

                            hr {

                            }

                            .description {
                                flex: 1;
                                margin: 10px;
                            }

                            .price {
                                @include sans;
                                background: $dark;
                                text-align: center;
                                font-size: 1.4em;
                                line-height: 1.6em;
                                color: white;
                            }

                            .publish {
                                margin: 10px;
                            }

                            button {
                                margin: auto;
                                width: 100px;
                                @include latoBold;
                                background: $dark;
                                color: white;
                                border: none;
                                padding: 10px;
                                border-radius: 5px;
                                box-shadow: 0 0 10px #aaa;

                                &:focus {
                                    outline: none;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        footer {
            padding: 20px;
            
            #footer-navs {
                display: flex;
                flex-direction: row;
                
                nav {
                    display: flex;
                    flex-direction: column;
                    flex: 1 1 100%;
                    @include sans;

                    a {
                        display: block;
                        padding: 2px 0;
                        @include link;

                    }

                    a:hover {
                        text-decoration: underline;
                    }
                    
                    #social-icons-2 {
                        display: flex;
                        flex-direction: row;
                        
                        a {
                            font-size: 1.5em;
                            margin: 5px;
                            color: $dark;
                            
                            &:hover {
                                color: lighten($dark, 30%);
                            }
                        }
                    }
                }
                
                form {
                    flex: 1 1 100%;
                    display: flex;
                    flex-direction: column;
                    
                    h5 {
                        @include latoBold;
                        font-size: 1.1em;
                        margin-bottom: 20px;
                    }
                }
            }
            
            .bottom {
                text-align: center;
                margin: 10px 0;
            }
        }
    }
}


@media only screen and (max-width: 500px) {
    
}