/*Import variables and mixins*/
/*Fonts*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,900|Open+Sans");
/*Colors*/
/*Reset margins, paddings, and font-weights*/
/* line 5, C:/xampp/htdocs/EksamenV3/styles/style.scss */
* {
  margin: 0;
  padding: 0;
  font-weight: 400; }

/*Prevent Google autocomplete's yellow overlay*/
@-webkit-keyframes autofill {
  to {
    color: #000;
    background: #fff; } }

/* line 19, C:/xampp/htdocs/EksamenV3/styles/style.scss */
input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both; }

/*Global input styling*/
/* line 25, C:/xampp/htdocs/EksamenV3/styles/style.scss */
input {
  margin: 3px 0;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  background: white; }
  /* line 33, C:/xampp/htdocs/EksamenV3/styles/style.scss */
  input::placeholder {
    opacity: 0.5; }

/*Global error message styling*/
/* line 39, C:/xampp/htdocs/EksamenV3/styles/style.scss */
.error {
  font-size: 0.7em;
  color: #e00; }

/*STYLING BEGINS HERE*/
/* line 45, C:/xampp/htdocs/EksamenV3/styles/style.scss */
body {
  display: flex;
  flex-direction: column;
  background-image: url(../img/bg.png);
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400; }
  /* line 54, C:/xampp/htdocs/EksamenV3/styles/style.scss */
  body #aside-bar {
    background: white;
    position: fixed;
    left: 0;
    height: 100vh;
    width: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1; }
  /* line 66, C:/xampp/htdocs/EksamenV3/styles/style.scss */
  body #wrapper {
    width: 70%;
    max-width: 1100px;
    min-height: 100vh;
    background: white; }
    /* line 72, C:/xampp/htdocs/EksamenV3/styles/style.scss */
    body #wrapper #content {
      display: flex;
      flex-direction: row; }
      /* line 76, C:/xampp/htdocs/EksamenV3/styles/style.scss */
      body #wrapper #content aside {
        flex: 1 1 12.5%;
        padding: 5px 10px; }
        /* line 80, C:/xampp/htdocs/EksamenV3/styles/style.scss */
        body #wrapper #content aside #logo {
          margin: 0 auto;
          width: 100%; }
        /* line 85, C:/xampp/htdocs/EksamenV3/styles/style.scss */
        body #wrapper #content aside h1 {
          font-size: 1.8em;
          color: #b7d383;
          margin-bottom: 15px; }
          /* line 90, C:/xampp/htdocs/EksamenV3/styles/style.scss */
          body #wrapper #content aside h1 span:first-child {
            color: #89b23e; }
          /* line 94, C:/xampp/htdocs/EksamenV3/styles/style.scss */
          body #wrapper #content aside h1 span:last-child {
            font-size: 2em;
            color: #6B9814; }
        /* line 100, C:/xampp/htdocs/EksamenV3/styles/style.scss */
        body #wrapper #content aside nav {
          display: flex;
          flex-direction: column;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400; }
          /* line 105, C:/xampp/htdocs/EksamenV3/styles/style.scss */
          body #wrapper #content aside nav a {
            display: block;
            padding: 2px 5px;
            color: black;
            text-decoration: none;
            transition: 0.2s; }
            /* line 27, C:/xampp/htdocs/EksamenV3/styles/_var.scss */
            body #wrapper #content aside nav a:hover {
              opacity: 0.5; }
            /* line 110, C:/xampp/htdocs/EksamenV3/styles/style.scss */
            body #wrapper #content aside nav a:hover {
              text-decoration: underline; }
            /* line 114, C:/xampp/htdocs/EksamenV3/styles/style.scss */
            body #wrapper #content aside nav a.active {
              color: #6B9814; }
              /* line 117, C:/xampp/htdocs/EksamenV3/styles/style.scss */
              body #wrapper #content aside nav a.active:hover {
                text-decoration: none; }
          /* line 123, C:/xampp/htdocs/EksamenV3/styles/style.scss */
          body #wrapper #content aside nav #log-ind, body #wrapper #content aside nav #register {
            display: block;
            padding: 2px 5px;
            cursor: pointer;
            color: black;
            text-decoration: none;
            transition: 0.2s; }
            /* line 27, C:/xampp/htdocs/EksamenV3/styles/_var.scss */
            body #wrapper #content aside nav #log-ind:hover, body #wrapper #content aside nav #register:hover {
              opacity: 0.5; }
            /* line 129, C:/xampp/htdocs/EksamenV3/styles/style.scss */
            body #wrapper #content aside nav #log-ind:hover, body #wrapper #content aside nav #register:hover {
              text-decoration: underline; }
          /* line 134, C:/xampp/htdocs/EksamenV3/styles/style.scss */
          body #wrapper #content aside nav form {
            display: flex;
            flex-direction: column; }
            /* line 139, C:/xampp/htdocs/EksamenV3/styles/style.scss */
            body #wrapper #content aside nav form input {
              width: 100%; }
            /* line 143, C:/xampp/htdocs/EksamenV3/styles/style.scss */
            body #wrapper #content aside nav form .submit {
              background: #eee;
              cursor: pointer;
              transition: 0.2s; }
              /* line 148, C:/xampp/htdocs/EksamenV3/styles/style.scss */
              body #wrapper #content aside nav form .submit:hover {
                background: #ddd; }
      /* line 156, C:/xampp/htdocs/EksamenV3/styles/style.scss */
      body #wrapper #content #right {
        display: flex;
        flex-direction: column;
        flex: 1 1 87.5%;
        background: #F0F3BD;
        margin-bottom: 20px; }
        /* line 165, C:/xampp/htdocs/EksamenV3/styles/style.scss */
        body #wrapper #content #right header #header-nav {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400; }
          /* line 171, C:/xampp/htdocs/EksamenV3/styles/style.scss */
          body #wrapper #content #right header #header-nav #social-icons {
            display: flex;
            flex-direction: row;
            margin-left: 10px; }
            /* line 176, C:/xampp/htdocs/EksamenV3/styles/style.scss */
            body #wrapper #content #right header #header-nav #social-icons a {
              display: block;
              margin: 10px;
              color: black;
              text-decoration: none;
              transition: 0.2s; }
              /* line 27, C:/xampp/htdocs/EksamenV3/styles/_var.scss */
              body #wrapper #content #right header #header-nav #social-icons a:hover {
                opacity: 0.5; }
          /* line 183, C:/xampp/htdocs/EksamenV3/styles/style.scss */
          body #wrapper #content #right header #header-nav #basket {
            display: flex;
            flex-direction: row;
            align-items: center; }
            /* line 188, C:/xampp/htdocs/EksamenV3/styles/style.scss */
            body #wrapper #content #right header #header-nav #basket a, body #wrapper #content #right header #header-nav #basket p {
              display: flex;
              align-items: center;
              margin-right: 20px;
              cursor: pointer;
              color: black;
              text-decoration: none;
              transition: 0.2s; }
              /* line 27, C:/xampp/htdocs/EksamenV3/styles/_var.scss */
              body #wrapper #content #right header #header-nav #basket a:hover, body #wrapper #content #right header #header-nav #basket p:hover {
                opacity: 0.5; }
              /* line 195, C:/xampp/htdocs/EksamenV3/styles/style.scss */
              body #wrapper #content #right header #header-nav #basket a i, body #wrapper #content #right header #header-nav #basket p i {
                margin-right: 10px; }
        /* line 202, C:/xampp/htdocs/EksamenV3/styles/style.scss */
        body #wrapper #content #right header #banner {
          width: 100%; }
          /* line 205, C:/xampp/htdocs/EksamenV3/styles/style.scss */
          body #wrapper #content #right header #banner img {
            min-width: 100%;
            width: 100%; }
        /* line 212, C:/xampp/htdocs/EksamenV3/styles/style.scss */
        body #wrapper #content #right main {
          flex: 1; }
          /* line 215, C:/xampp/htdocs/EksamenV3/styles/style.scss */
          body #wrapper #content #right main #preamble {
            padding: 50px 20px; }
            /* line 218, C:/xampp/htdocs/EksamenV3/styles/style.scss */
            body #wrapper #content #right main #preamble h2 {
              font-family: 'Lato', sans-serif;
              font-weight: 900;
              margin-bottom: 70px;
              text-align: center; }
          /* line 227, C:/xampp/htdocs/EksamenV3/styles/style.scss */
          body #wrapper #content #right main #upload h3 {
            font-weight: 900;
            text-align: center;
            cursor: pointer; }
          /* line 233, C:/xampp/htdocs/EksamenV3/styles/style.scss */
          body #wrapper #content #right main #upload hr {
            margin: 10px 0;
            transition: 0.2s; }
          /* line 238, C:/xampp/htdocs/EksamenV3/styles/style.scss */
          body #wrapper #content #right main #upload form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%; }
            /* line 244, C:/xampp/htdocs/EksamenV3/styles/style.scss */
            body #wrapper #content #right main #upload form .divider {
              display: flex;
              flex-direction: row; }
              /* line 248, C:/xampp/htdocs/EksamenV3/styles/style.scss */
              body #wrapper #content #right main #upload form .divider div {
                display: flex;
                flex-direction: column;
                width: 50%;
                padding: 10px; }
            /* line 256, C:/xampp/htdocs/EksamenV3/styles/style.scss */
            body #wrapper #content #right main #upload form textarea {
              resize: vertical;
              margin: 3px 0;
              padding: 5px 10px;
              border-radius: 5px;
              border: 1px solid #ddd;
              box-sizing: content-box;
              font-family: 'Lato', sans-serif;
              font-weight: 400; }
              /* line 265, C:/xampp/htdocs/EksamenV3/styles/style.scss */
              body #wrapper #content #right main #upload form textarea::placeholder {
                opacity: 0.5; }
            /* line 270, C:/xampp/htdocs/EksamenV3/styles/style.scss */
            body #wrapper #content #right main #upload form .input {
              background: #eee;
              cursor: pointer;
              transition: 0.2s; }
              /* line 275, C:/xampp/htdocs/EksamenV3/styles/style.scss */
              body #wrapper #content #right main #upload form .input:hover {
                background: #ddd; }
          /* line 283, C:/xampp/htdocs/EksamenV3/styles/style.scss */
          body #wrapper #content #right main #search-form #search-container {
            display: flex;
            flex-direction: row;
            margin: 5px auto;
            border-radius: 5px;
            border: 1px solid #ddd;
            box-sizing: border-box;
            background: white;
            width: 30%;
            min-width: 230px; }
            /* line 294, C:/xampp/htdocs/EksamenV3/styles/style.scss */
            body #wrapper #content #right main #search-form #search-container #search {
              border: none;
              border-radius: 0;
              background: none;
              flex: 1 1; }
              /* line 300, C:/xampp/htdocs/EksamenV3/styles/style.scss */
              body #wrapper #content #right main #search-form #search-container #search:focus {
                outline: none; }
            /* line 305, C:/xampp/htdocs/EksamenV3/styles/style.scss */
            body #wrapper #content #right main #search-form #search-container #search-submit {
              margin: 0;
              height: 35px;
              width: 35px;
              border: none;
              background: #A1C65D;
              border-radius: 5px;
              cursor: pointer;
              transition: 0.2s; }
              /* line 315, C:/xampp/htdocs/EksamenV3/styles/style.scss */
              body #wrapper #content #right main #search-form #search-container #search-submit:hover {
                background: #89b23e; }
          /* line 322, C:/xampp/htdocs/EksamenV3/styles/style.scss */
          body #wrapper #content #right main #product-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 10px; }
            /* line 329, C:/xampp/htdocs/EksamenV3/styles/style.scss */
            body #wrapper #content #right main #product-container .product {
              display: flex;
              position: relative;
              flex-direction: column;
              width: 30%;
              background: white;
              padding-bottom: 30px;
              margin-bottom: 15px;
              box-shadow: 0 0 10px #aaa; }
              /* line 339, C:/xampp/htdocs/EksamenV3/styles/style.scss */
              body #wrapper #content #right main #product-container .product .delete-button {
                position: absolute;
                display: block;
                width: 32px;
                text-align: center;
                top: 5px;
                right: 5px;
                color: #e00; }
              /* line 349, C:/xampp/htdocs/EksamenV3/styles/style.scss */
              body #wrapper #content #right main #product-container .product img {
                max-width: 100%;
                margin: 10px auto; }
              /* line 354, C:/xampp/htdocs/EksamenV3/styles/style.scss */
              body #wrapper #content #right main #product-container .product h4 {
                font-family: 'Lato', sans-serif;
                font-weight: 900;
                font-size: 1em;
                margin: 10px; }
              /* line 364, C:/xampp/htdocs/EksamenV3/styles/style.scss */
              body #wrapper #content #right main #product-container .product .description {
                flex: 1;
                margin: 10px; }
              /* line 369, C:/xampp/htdocs/EksamenV3/styles/style.scss */
              body #wrapper #content #right main #product-container .product .category {
                margin: 10px 10px 10px auto;
                padding: 5px;
                background: #F0F3BD;
                border: 1px solid #dce367;
                border-radius: 3px; }
              /* line 377, C:/xampp/htdocs/EksamenV3/styles/style.scss */
              body #wrapper #content #right main #product-container .product .price {
                font-family: 'Open Sans', sans-serif;
                font-weight: 400;
                background: #6B9814;
                text-align: center;
                font-size: 1.4em;
                line-height: 1.6em;
                color: white; }
              /* line 386, C:/xampp/htdocs/EksamenV3/styles/style.scss */
              body #wrapper #content #right main #product-container .product .publish-details {
                display: flex;
                flex-direction: row;
                justify-content: space-between; }
                /* line 391, C:/xampp/htdocs/EksamenV3/styles/style.scss */
                body #wrapper #content #right main #product-container .product .publish-details .authorname {
                  margin: 10px;
                  font-weight: 700; }
                /* line 396, C:/xampp/htdocs/EksamenV3/styles/style.scss */
                body #wrapper #content #right main #product-container .product .publish-details .publish {
                  margin: 10px; }
              /* line 402, C:/xampp/htdocs/EksamenV3/styles/style.scss */
              body #wrapper #content #right main #product-container .product button {
                margin: auto;
                width: 100px;
                font-family: 'Lato', sans-serif;
                font-weight: 900;
                background: #6B9814;
                color: white;
                border: none;
                padding: 10px;
                border-radius: 5px;
                box-shadow: 0 0 10px #aaa;
                cursor: pointer;
                transition: 0.2s; }
                /* line 415, C:/xampp/htdocs/EksamenV3/styles/style.scss */
                body #wrapper #content #right main #product-container .product button:hover {
                  opacity: 0.5; }
                /* line 419, C:/xampp/htdocs/EksamenV3/styles/style.scss */
                body #wrapper #content #right main #product-container .product button:focus {
                  outline: none; }
    /* line 429, C:/xampp/htdocs/EksamenV3/styles/style.scss */
    body #wrapper footer {
      padding: 20px; }
      /* line 432, C:/xampp/htdocs/EksamenV3/styles/style.scss */
      body #wrapper footer #footer-navs {
        display: flex;
        flex-direction: row; }
        /* line 436, C:/xampp/htdocs/EksamenV3/styles/style.scss */
        body #wrapper footer #footer-navs nav {
          display: flex;
          flex-direction: column;
          flex: 1 1 100%;
          font-family: 'Open Sans', sans-serif;
          font-weight: 400; }
          /* line 442, C:/xampp/htdocs/EksamenV3/styles/style.scss */
          body #wrapper footer #footer-navs nav a {
            display: block;
            padding: 2px 0;
            color: black;
            text-decoration: none;
            transition: 0.2s; }
            /* line 27, C:/xampp/htdocs/EksamenV3/styles/_var.scss */
            body #wrapper footer #footer-navs nav a:hover {
              opacity: 0.5; }
          /* line 449, C:/xampp/htdocs/EksamenV3/styles/style.scss */
          body #wrapper footer #footer-navs nav a:hover {
            text-decoration: underline; }
          /* line 453, C:/xampp/htdocs/EksamenV3/styles/style.scss */
          body #wrapper footer #footer-navs nav #social-icons-2 {
            display: flex;
            flex-direction: row; }
            /* line 457, C:/xampp/htdocs/EksamenV3/styles/style.scss */
            body #wrapper footer #footer-navs nav #social-icons-2 a {
              font-size: 1.5em;
              margin: 5px;
              color: #6B9814; }
              /* line 462, C:/xampp/htdocs/EksamenV3/styles/style.scss */
              body #wrapper footer #footer-navs nav #social-icons-2 a:hover {
                opacity: 0.5; }
        /* line 469, C:/xampp/htdocs/EksamenV3/styles/style.scss */
        body #wrapper footer #footer-navs form {
          flex: 1 1 100%;
          display: flex;
          flex-direction: column; }
          /* line 474, C:/xampp/htdocs/EksamenV3/styles/style.scss */
          body #wrapper footer #footer-navs form h5 {
            font-family: 'Lato', sans-serif;
            font-weight: 900;
            font-size: 1.1em;
            margin-bottom: 20px; }
      /* line 482, C:/xampp/htdocs/EksamenV3/styles/style.scss */
      body #wrapper footer .bottom {
        text-align: center;
        margin: 10px 0; }

@media only screen and (max-width: 1300px) {
  /* line 493, C:/xampp/htdocs/EksamenV3/styles/style.scss */
  body #wrapper {
    width: 90%; } }

@media only screen and (max-width: 1000px) {
  /* line 506, C:/xampp/htdocs/EksamenV3/styles/style.scss */
  body #wrapper #content #right main #product-container .product {
    width: 45%; } }

@media only screen and (max-width: 780px) {
  /* line 519, C:/xampp/htdocs/EksamenV3/styles/style.scss */
  body #aside-bar {
    display: flex; }
  /* line 522, C:/xampp/htdocs/EksamenV3/styles/style.scss */
  body #wrapper {
    width: auto;
    margin-left: 30px; }
    /* line 527, C:/xampp/htdocs/EksamenV3/styles/style.scss */
    body #wrapper #content aside {
      position: fixed;
      background: white;
      width: 130px;
      height: 100vh;
      left: -150px;
      border-right: 2px solid rgba(0, 0, 0, 0.1);
      transition: 0.2s; }
    /* line 541, C:/xampp/htdocs/EksamenV3/styles/style.scss */
    body #wrapper #content #right main #upload #upload-form .divider {
      flex-direction: column; }
      /* line 544, C:/xampp/htdocs/EksamenV3/styles/style.scss */
      body #wrapper #content #right main #upload #upload-form .divider div {
        width: 100%; } }

@media only screen and (max-width: 570px) {
  /* line 564, C:/xampp/htdocs/EksamenV3/styles/style.scss */
  body #wrapper #content #right main #product-container .product {
    width: 95%; }
  /* line 573, C:/xampp/htdocs/EksamenV3/styles/style.scss */
  body #wrapper footer #footer-navs {
    flex-direction: column; }
    /* line 576, C:/xampp/htdocs/EksamenV3/styles/style.scss */
    body #wrapper footer #footer-navs nav {
      margin-bottom: 15px;
      text-align: center; }
      /* line 580, C:/xampp/htdocs/EksamenV3/styles/style.scss */
      body #wrapper footer #footer-navs nav #social-icons-2 {
        margin: 0 auto; }
    /* line 585, C:/xampp/htdocs/EksamenV3/styles/style.scss */
    body #wrapper footer #footer-navs form {
      text-align: center; } }

@media only screen and (max-width: 460px) {
  /* line 600, C:/xampp/htdocs/EksamenV3/styles/style.scss */
  body #wrapper #content #right header #header-nav {
    justify-content: center;
    padding: 5px 0; }
    /* line 604, C:/xampp/htdocs/EksamenV3/styles/style.scss */
    body #wrapper #content #right header #header-nav #social-icons {
      display: none; } }

/*# sourceMappingURL=style.css.map */